html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  padding: 0.5em;
}

#main-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

#app-toolbar {
  padding: 0 0 0.5em;
  text-align: center;
}

#app-toolbar .separator {
  display: inline-block;
  width: 30px;
}

#app-toolbar .btn {
  padding-left: 1rem;
  padding-right: 1rem;
}

#popup-material {
  padding: 1rem;
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  max-width: 90%;
  width: 500px;
  background-color: #fff;
}

#popup-material hr {
  margin-top: 0rem;
}

#popup-material .material-content {
  height: 500px;
  max-height: 80%;
  overflow-y: scroll;
}

#popup-material .bt-close {
  cursor: pointer;
}

.list-container {
  padding: 0 1rem 1rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.row.list {
  border-bottom: 1px solid #dedede;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.row.list.selected {
  background-color: #f4f4f4;
}

.list-hover:hover {
  background-color: #efefef;
}

.list-pointer {
  cursor: pointer;
}

.row.list:last-child {
  border-bottom: none;
}